body {
    margin:0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
.title {
	width:100%; 
	text-align:center;
	font-family:'Press Start 2P';
}
.title h1 {
    margin: 0;
	font-size:25px;
	color:#000000;
}
.title span {
	font-size:9px;
	color:#FFFFFF;
}
.license {
    width:100%; 
	text-align:center;
	font-size:13px;
	font-family: 'Manjari', sans-serif;
}
.license a {
	text-decoration:none;
	color:#FDB90B;
}
.networks {
    width:100%; 
	text-align:center;
	font-family:'Press Start 2P';
	font-size:9px;
}
.networks img {
	border:0;
	vertical-align:middle;
	padding-bottom: 5px;
}
.networks a {
	text-decoration: none;
	color:#000000;
}
.networks a:hover {
	color: #FFFFFF;
}
.apu {
    position:fixed;
    left:30%;
    bottom:0px;
    text-align:left;
}
.apu img{
    border:0;
}
.post {
    width:100%;
    margin:auto;
    text-align: center;
}
.post p {
	margin: 0;
	padding: 0;
	font-size: 10px;
}
.post img {
    vertical-align: middle;
}
.post a {
	color:#FDB90B;
	text-decoration:none;
}
.post a:hover {
	color:#000000;
}
.content {
	width:100%;
	border-collapse: collapse;
}
.content td {
	vertical-align: top;
}
.user {
	text-align: center;
	font-size:14px;
	font-weight: 300;
}
.user img{
	border-radius: 50%;
	width: auto;
	transition-duration: 0.8s;
	transition-property: transform;
	filter: grayscale(100%);
}
.user img:hover {
	transform: rotate(360deg);
	filter: grayscale(0%);
}
.release {
	width: 100%;
	text-align: center;
	font-size:9px;
}