html {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body {
    margin:0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
.title {
	width:100%; 
	text-align:center;
	font-family:'Press Start 2P';
}
.title h1, .middle h1 {
    margin: 0;
	font-size:25px;
	color:#000000;
}
.title span {
	font-size:9px;
	color:#FFFFFF;
}
.license {
    width:100%; 
	text-align:center;
	font-size:12px;
	font-family: 'Manjari', sans-serif;
}
.license a {
	text-decoration:none;
	color:#FDB90B;
}
.networks {
    width:100%; 
	text-align:center;
	font-family:'Press Start 2P';
	font-size:9px;
}
.networks img {
	border:0;
	vertical-align:middle;
	padding-bottom: 5px;
}
.networks a {
	text-decoration: none;
	color:#000000;
}
.networks a:hover {
	color: #FFFFFF;
}
.apu {
    position:fixed;
    left:30%;
    bottom:0px;
    text-align:left;
}
.apu img{
    border:0;
}
.post {
    width:100%;
    margin:auto;
	text-align: center;
	font-size: 15px;
}
.post p {
	margin: 0;
	padding: 0;
	font-size: 10px;
}
.post img {
    vertical-align: middle;
}
.post a {
	color:#FDB90B;
	text-decoration:none;
	font-weight: 500;
}
.post a:hover {
	color:#000000;
	font-style: italic;
}
.content {
	width:100%;
	border-collapse: collapse;
	height: 100vh;
}
.content td {
	vertical-align: top;
}
.user {
	text-align: center;
	font-size:14px;
	font-weight: 300;
}
.user img{
	border-radius: 50%;
	width: auto;
	transition-duration: 0.8s;
	transition-property: transform;
	filter: grayscale(100%);
}
.user img:hover {
	transform: rotate(360deg);
	filter: grayscale(0%);
}
.release {
	width: 100%;
	text-align: center;
	font-size:9px;
}
.release p {
	margin: 0;
	padding-top: 1px;
}
a.button {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size: 12px;
	color:#FFFFFF;
	text-align: center;
	transition:all 0.2s;
}
a.button:hover{
	color:#000000;
	background-color:#FFFFFF;
}
@media all and (max-width:30em){
	a.button{
		display:block;
		margin:0.4em auto;
	}
}
.bouncy{
	animation:bouncy 5s infinite linear;
	position:relative;
}
@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
}
.bar {
	width:20%;
	background-color:#FDB90B;
}
.inputBox
{
	width:300px;
	padding:5px;
	font-size:15px;
	font-family:'Roboto', sans-serif;
}
.cut
{
	padding:10px;
	color:#FFFFFF;
	background-color:#FDB90B;
	border:0;
	font-size:12px;
	font-family:'Press Start 2P';
}
.msg
{
	font-size:17px;
	font-family:'Roboto', sans-serif;
}
.msg a {
	text-decoration: none;
	color:#FDB90B;
}
.outer {
    display: table;
    position: absolute;
	text-align:center;
	margin:auto;
	width:100%;
}
.middle {
    display: table-cell;
	vertical-align: middle;
	height: 100vh;
	font-family:'Press Start 2P';
}